name: Download client

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  downloader:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 24.11
      - name: Download client
        run: npm start
      - name: Push files
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit -m "Upload client files"
          git push
